<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>laura says hi - from chile</title>
<link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
<link rel="alternate" type="application/atom+xml" href="{{ page.feed }}" title="Atom feed">
<link href='site.css' rel='stylesheet' type='text/css'>
</head>
<body>


<div id="nav">
<ul>
  <li class="first"><a href="/">Laura and Pete's Travel blog</a></li>
  <li><a href="/tech.html">tech blog</a></li>
  <li><a href="https://picasaweb.google.com/102479403334301156799?noredirect=1">photos</a></li>
</ul>
</div>


{{ content }}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36083946-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
