<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>laura says hi - from chile</title>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
<link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom feed">
<style type="text/css">
  #map {
    width: 100%;
    text-align: center;
  }
  #home {
        font-family: sans-serif;
        text-align: justify;
        max-width: 55em;
        margin-left: auto;
        margin-right: auto;
        background-color: #fbfbfc;
      }

      h1, h2 {
        font-family: 'Droid Sans', arial, serif;
        font-weight: normal;
        text-align: center;
      }
</style>
</head>
<body>

<h1>Laura and Pete's travel Blog</h1>
<div id="home">

{{ content }}
</div>

</body>
</html>
